dev-venv/
venv/
.env
flyway.toml
flyway.conf
*/__pycache__/*
*/.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/reviews-ETL-checkpoint.ipynb
etl/.DS_Store
etl/__pycache__/*
/__pycache__/*
.DS_Store
.vercel
.vscode
/etl/pc_gamer_etl/config.py
etl/helper_functions/__pycache__/*
etl/.pytest_cache/
etl/tests/__pycache__/
etl/helper_functions/html_parser/__pycache__/*
venv/*
app/app/__pycache__/*
app/app/robocritic/__pycache__/*