{% extends 'robocritic/base.html' %}

{% block content %}

<div class="container mx-auto p-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
        {% for game in games %}
        <div class="flex flex-col items-center">
            <img src="{{ game.art_url }}" alt="{{ game.title }}" class="w-full rounded-lg shadow-lg">
            <h3 class="mt-3 font-bold text-lg">{{ game.title }}</h3>
            <p class="text-sm text-gray-400">Release Date: {{ game.release_date }}</p>
            <a href="{% url 'review' game.id %}" class="text-sm text-blue-400 hover:text-blue-300">Read Reviews</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}